@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Hello, world</h1>
    <p>The time on the server is @DateTime.Now</p>
    <p style="background-color:yellow; color:blue">
        This page is my first application using .net!
    </p>
</div>
